<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bangalore Parks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet"  href="/stylesheet/main.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">BanPark</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right float-right">
                    <li><a href="/login" class="btn btn-sm btn-outline-secondary ">Login</a></li>
                    <li><a href="/register" class="btn btn-sm btn-outline-secondary">Sign Up</a></li>
                    <li><a href="/logout" class="btn btn-sm btn-outline-secondary ">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    
    
    
    
<h1>Login</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>
<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>




</body>
</html>