<% include partials/header %>
<!-- the above line is to include the commenly repeated content in the files like HTML,Script,Links to CSS tags-->
<h1>This is the home page!</h1>
<img src="http://www.pomsky.org/wp-content/uploads/2013/03/f14629e88cfe11e28ef622000a1fa434_7.jpg">ls
<% include partials/footer %>
<!--this is similar to header but adds the lower content of the file-->

<!--Here anything within <%  %> will be treated a java script content, we use <%  %> when ever we have to print something  -->
<!--if we have only logic to be processed we use only <%  %> eg. consider the if/ else statment above it does not have "=" if we have to print content on HTML we use <%= %> -->