<html>
    <head>
        <title>Food Blog App</title>
        <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link  rel="stylesheet" type="text/css" href="/stylesheet/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui inverted secondary pointing menu">
                <div class="header item" ><i class="jenkins icon"></i><a href="/">Food Blog Site</a></div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>
        <br/>
        <br/>