<% include partials/header %>
<div class="container">
        <h1>Add a new Park</h1>
        <p>
              <a class="btn btn-primary" href="/welcome">Click here to goback</a>
        </p>
        <form action="/welcome" method="POST">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="image" placeholder="image">
            <button type="submit">Submit</button>
        </form>
</div>
<% include partials/footer %>