<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
                <h1>Parks of Bangalore</h1>
                <h4>ಜೈ ಕರ್ನಾಟಕ...</h3>
                <p>
                     <a class="btn btn-primary btn-lg" href="/welcome/new">Click here to add a new park to the list.</a>
                </p>
        </div>
    </header>
    <div class="container">
        <div class="row">
                <% EJSparks.forEach(function(park){%>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                                <img src="<%= park.image%>" height="150" width="230"/>
                            <div class="caption">
                                <h4><%= park.name %></h4>
                            </div>
                        </div>
                    </div>
                <% });%>
        </div>
    </div>
</div>

<% include partials/footer %>
