.square{
    width: 30%;
    transition: 0.5s;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
}
h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: steelblue;
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px 0;
    line-height: 1.3cm;

}

#pickedcolorToDisp{
    font-size: 150%;
}
#msg{
    display: inline-block;
    widows: 20%;
}
#h3{
    background-color: white;
    text-align: center;
    margin: 0%;
    padding: 0.1cm 0.1cm 0.1cm 0.1cm;
}
body{
    background-color: #232323;
}
.container{
    max-width: 600px;
    margin: auto;   
    
}
input{
    border: none;
    background: none;
    height: 100%;
    margin: 0%;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s;
}
input:hover{
    color: white;
    background-color: steelblue;
}
body{
    margin: 0%;
}

.select{
    background-color: steelblue;
    color: white;
    transition: 0.5s;
}